<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/karyawan/kota/tambah}">Home</a>
	<h1>Data Kota</h1>
	<table border=1>
		<tr>
			<td>ID Kota</td>
			<td>Kode Kota</td>
			<td>Nama Kota</td>
		
		</tr>
		<tbody>
			<tr th:each="kotaModel:${kotaModelList}"> <!-- Untuk mengambil data dari KotaModel -->
			<td><a th:text="${kotaModel.idKota}"></a></td> 
			<td><a th:text="${kotaModel.kodeKota}"></a></td> 
			<td><a th:text="${kotaModel.namaKota}"></a></td>			
			</tr>
		</tbody>
	</table>
</body>
</html>