<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1>Data Fakultas</h1>
			<button type="button" class="btn btn-primary btn-fw" id="btn-tambah">Tambah
				Fakultas</button>
			<table class="table table-hover">
				<tr>
					<td>Kode Fakultas</td>
					<td>Nama Fakultas</td>
					<td>Detail</td>
					<td>Ubah</td>
					<td>Hapus</td>
				</tr>
				<tr>
					<td><form th:action=@{/fakultas/search/kode} method=post>
							<div class="input-group">
								<input type=text class="form-control"
									placeholder="Masukkan Kode Fakultas" aria-label="Username"
									aria-describedby="colored-addon3" name=kodeFakultas><br>
								<div class="input-group-append bg-primary border-primary">
									<button class="input-group-text bg-transparent" type=submit>Cari
									</button>
								</div>
							</div>
						</form>
					</td>
					<td>
						<form th:action=@{/fakultas/search/nama} method=post>
							<div class="input-group">
								<input type=text class="form-control"
									placeholder="Masukkan Nama Fakultas" aria-label="Username"
									aria-describedby="colored-addon3" name=namaFakultas><br>
								<div class="input-group-append bg-primary border-primary">
									<button class="input-group-text bg-transparent" type=submit>Cari
									</button>
								</div>
							</div>
						</form>
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tbody id="list-fakultas">
					<tr th:each="fakultasModel:${fakultasModelList}">
						<td><a th:text="${fakultasModel.kodeFakultas}"></a></td>
						<td><a th:text="${fakultasModel.namaFakultas}"></a></td>
						<td><button id="btn-lihat" type="button"
								class="btn btn-success btn-sm"
								th:value="${fakultasModel.kodeFakultas}">Lihat</button></td>
						<td><button id="btn-ubah" type="button"
								class="btn btn-warning btn-sm"
								th:value="${fakultasModel.kodeFakultas}">Ubah</button></td>
						<td><button id="btn-hapus" type="button"
								class="btn btn-danger btn-sm"
								th:value="${fakultasModel.kodeFakultas}">Hapus</button></td>
					</tr>
				</tbody>
			</table>
			<div id="modal-fakultas" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Pop-up Fakultas</h4>
						</div>
						<div class="modal-body">
							<p>Some text in the modal.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	//ajax untuk pop-up tambah
	$('#btn-tambah').click(function() {
		var kodeFakultas = $(this).val();
		$.ajax({
			url : '/class1/fakultas/add',
			type : 'get',
			dataType : 'html',
			data : {kodeFakultas,kodeFakultas},
			success : function(result) {
				$('#modal-fakultas').modal('show');
				$('#modal-fakultas').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up tambah
	
	//ajax untuk create
	$('#modal-fakultas').on('submit','#form-fakultas-tambah',function() {		
		$.ajax({
			url : '/class1/fakultas/create',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data fakultas telah ditambah');
				/* $('#modal-fakultas').modal('hide'); */	
				$('#isi').load('/class1/fakultas/data');
			}
		});
		return false;
	});
	//ajax untuk create
	
	//ajax untuk pop-up lihat
	$('#list-fakultas').on('click','#btn-lihat',function() {
		var kodeFakultas = $(this).val();
		$.ajax({
			url : '/class1/fakultas/detail',
			type : 'get',
			dataType : 'html',
			data : {kodeFakultas,kodeFakultas},
			success : function(result) {
				$('#modal-fakultas').modal('show');
				$('#modal-fakultas').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up lihat
	
	//ajax untuk pop-up ubah
	$('#list-fakultas').on('click','#btn-ubah',function() {
		var kodeFakultas = $(this).val();
		$.ajax({
			url : '/class1/fakultas/ubah',
			type : 'get',
			dataType : 'html',
			data : {kodeFakultas,kodeFakultas},
			success : function(result) {
				$('#modal-fakultas').modal('show');
				$('#modal-fakultas').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up ubah
	
	//ajax untuk edit
	$('#modal-fakultas').on('submit','#form-fakultas-ubah',function() {		
		$.ajax({
			url : '/class1/fakultas/update',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data fakultas telah diubah');
				$('#isi').load('/class1/fakultas/data');
				$('#isi').modal('hide');
			}
		});
		return false;
	});
	//ajax untuk edit
	
	//ajax untuk pop-up hapus
	$('#list-fakultas').on('click','#btn-hapus',function() {	
		if (confirm("Anda yakin?"))	{
			var kodeFakultas = $(this).val();
			$.ajax({
				url : '/class1/fakultas/hapus',
				type : 'post',
				dataType: 'html',
				data : {kodeFakultas,kodeFakultas},			
				success : function(result) {
					$('#isi').load('/class1/fakultas/data');						
				}
			});			
		}
		else {
			return false;
			}		
		});		
		
	//ajax untuk pop-up hapus	
</script>
</html>