<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h2>Detail Fakultas</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Kode Fakultas</th>
						<th>Nama Fakultas</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a th:text="${fakultasModel.kodeFakultas}"></a></td>
						<td><a th:text="${fakultasModel.namaFakultas}"></a></td>											
					</tr>					
			</table>
		</div>
	</div>
</body>
</html>