<!DOCTYPE html>
<!-- //JUGA MEMERLUKAN AJAX untuk mengambil data dari front end -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
	<table class="table table-hover">
		<tbody id="list-fakultas">
			<tr th:each="fakultasModel:${fakultasModelList}">
				<!--menerima data dari back end -->
				<td><a th:text="${fakultasModel.kodeFakultas}"></a></td>
				<!-- memanggil data dari kode fakultas ke fakultas model berdasarkan nama -->
				<td><a th:text="${fakultasModel.namaFakultas}"></a></td>
				<td><button id="btn-lihat" type="button"
						class="btn btn-success btn-sm"
						th:value="${fakultasModel.kodeFakultas}">Lihat</button></td>
				<td><button id="btn-ubah" type="button"
						class="btn btn-warning btn-sm"
						th:value="${fakultasModel.kodeFakultas}">Ubah</button></td>
				<td><button id="btn-hapus" type="button"
						class="btn btn-danger btn-sm"
						th:value="${fakultasModel.kodeFakultas}">Hapus</button></td>
			</tr>
		</tbody>
	</table>
</body>
</html>